@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #96c5e4;
}

/* -------------Custom Styling------------- */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 1.53rem;

}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background: rgb(230, 183, 98);
    border-radius: 8px;

}

/* ----------Navigation bar sytle */

header {
    position: fixed;
    width: 100%;
    z-index: 5;

}


header .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.navbar .nav-logo {
    display: flex;
    align-items: center;
    gap: 0.5px;
    text-align: center;
    line-height: 1rem;

}

.navbar .nav-logo div {
    background: transparent;
    padding: 6px;
    border-radius: .5rem;
}

.navbar .nav-logo img {
    width: 32px;
    height: 32px;

}

.navbar .nav-logo .logo-text {
    background: transparent;
}



.navbar .nav-logo .title-name {
    /* color: var(--dark-color);
     */
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}




.navbar .nav-logo .title-state {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--white-color);
    font-family: "Dancing Script", cursive;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-item {
    position: relative;
}



.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: 1.12rem;
    color: var(--white-color);
    transition: 0.3s ease;
    border-radius: 30px;

}


.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

.navbar .nav-menu .nav-link:hover {
    background: rgb(230, 183, 98);
    color: #666;
}

header.sticky {
    background: #474747;

}

/* -----------hero section ------------- */

.hero-section {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    position: relative;
}

.hero-section .section-content {}

.hero-section .hero-details {
    text-align: center;
    color: var(--white-color);
    margin: 0px auto 250px;
    width: 90%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero-section .hero-details .title {
    font-size: 62px;
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    margin: 20px auto 0;
}

.hero-section .hero-details p {
    max-width: 70%;
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.hero-section .hero-details .learn-more {
    padding: 12px 36px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 8px;
    background: transparent;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s ease;
    margin-top: 40px;
    position: relative;
    cursor: pointer;

}

.hero-section .hero-details .learn-more:hover {
    color: var(--white-color);
    border-color: var(--white-color);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);

}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;

}

.hero-image-wrapper:hover img {
    transform: scale(1.2, 1.2);
}

/* ---------Home section--------- */
.home-section {
    padding: 10px 0;
    background-color: rgb(255, 240, 222);
}

.home-section .section-content {
    margin: auto;
    border-radius: 15px;
}

.home-section .home-content {
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding: 0 25px;
    gap: 70px;
    margin-bottom: 30px;

}


.home-section .home-image-wrapper {
    width: 420px;
    overflow: hidden;
    height: auto;
    height: 270px;
    border-radius: 10px;

}

.home-section .home-image-wrapper .home-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-section .home-details .home-title {
    padding: 0;


}

.home-section .home-details .text {
    line-height: 30px;
    margin-top: 10px;
    font-size: 1.12;
    color: #4e4e4e;
    margin-bottom: 20px;
}

.home-section .home-details {
    max-width: 50%;
    flex: 1;


}

.home-section .home-details .button {
    text-align: center;
}

.home-section .home-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #4e4e4e;
    border-radius: 30px;
    background-color: rgb(230, 183, 98);
    font-weight: 600;
    transition: 0.3s ease;

}

.home-section .home-details .button:hover {
    color: #4e4e4e;
    border-color: greenyellow;
    background: transparent;
}

/* Registration and login Page */

.register-section,
.login-section,
.create-program-section {
    padding: 120px 0;
    background: oldlace;

    /* margin-top: 70px; */
}

.form-box {
    position: relative;
    align-items: center;
    /* justify-content: center; */
    /* display: flex; */
    width: 512px;
    height: 420px;
    /* overflow: hidden; */
    z-index: 2;
    margin: auto;

}

.top span {
    color: green;
    margin-left: 5px;
    padding: 10px 0;
}

.top span a {
    font-weight: 500;
    color: #666;
    margin-left: 5px;
}

.title-rl {
    color: #494949;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.inputs {
    font-size: 15px;
    background: rgba(59, 59, 59, 0.2);
    color: #494949;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    margin-bottom: 30px;
}

.txt {
    height: 150px;
}

.inputs:hover,
.inputs:focus {
    background: rgba(10, 10, 10, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #212121;

}

.Rbtn {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgba(214, 188, 102, 0.2);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.Rbtn:hover {
    background: rgba(122, 122, 122, 0.2);
    box-shadow: 1px 5px 7px 1px rgba(122, 122, 122, 0.2);
}

.custom-file {
    display: flex;
    margin-bottom: 20px;
}

.custom-file-label {
    width: 50%;
    color: #3d3d3d;
}

/* ------------------Program Section ------------------- */
.program-section {
    padding: 50px 0 100px;
    position: relative;
    background: #e7d8ac;
}

.program-section .create_program,
.blog-section .create_blog {
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary-color);
    position: absolute;
    top: 19%;
    right: 5%;
    border-radius: 8px;
}

.program-section .create_program a,
.blog-section .create_blog a {
    padding: 15px 15px;
    text-decoration: none;
    color: #474747;
}

.program-section .section-content {
    margin: auto;
    padding: 50px 10px 40px;
}

.program-section .program-list {
    display: flex;
    text-align: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
}

.program-section .program-list .program-item {
    flex-basis: 31%;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 5%;
    padding: 10px 10px;
    background: #fff3f3;
    transition: transform 0.3s ease-in-out;
}

.program-section .program-item img {
    border-radius: 10px;
}

.program-section .program-item h3 {
    padding-bottom: 10px;
}

.program-section .program-item p {
    font-size: 13px;
    margin-bottom: 2%;
}

.program-section .program-item:hover {
    transform: translateY(-4px);
}


/* ------------------Blog Section -----------------*/
.blog-section {
    padding: 50px 0 100px;
    position: relative;
    background: #e7d8ac;

}

.blog-section .blog-list {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    padding-top: 110px;
}

.blog-section .blog-list .blog-item {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    background: #fff3f3;

}

.blog-section .blog-list .blog-item img {
    border-radius: 10px;
    width: 100%;
}

.blog-section .blog-list .blog-item p {
    padding: 0;
    font-size: 13px;
    color: #4e4e4e;
}

.blog-section .blog-list .blog-item h3 {
    margin-top: 16px;
    text-align: left;
    color: #212121;
    margin-bottom: 15px;
}

.blog-section .blog-list .blog-item:hover {
    box-shadow: 4px 8px 5px #faeded;
    transform: translateY(4px);
    transform: scale(4px 4px);
}

/* -------------------Testimonials Section ------------- */
.testimonial-section {
    padding: 50px 0 100px;
    background: #f5e5bd;
}

.testimonial-section .slide-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonial-section .testimonial {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 35px;
    align-items: center;
    text-align: center;
}

.testimonial-section .testimonial img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}

.testimonial-section .testimonial .name {
    margin-bottom: 16px;
    font-size: 1.12rem;
}

.testimonial-section .testimonial .feedback {
    line-height: 25px;
}

.testimonial-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: rgb(230, 183, 98);
}

.testimonial-section .swipper-slide-btn {
    color: rgb(230, 183, 98);
    margin-top: -50px;
    transition: 0.3s ease;
}

.testimonial-section .swipper-slide-btn:hover {
    color: oldlace;
}

/* -----------Gallery Section------------ */
.gallery-section {
    padding: 50px 0 100px;
    background: rgb(252, 246, 237);
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    width: calc(100% / 3 - 32px);
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
}

/* ----------------About css------------ */
.mission-section {
    padding: 50px 0 100px;
    background: rgb(247, 228, 195);
}

.guiding-list {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.guiding-item {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.guiding-item h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.guiding-item p {
    text-align: center;
    /* max-width: 80%; */
}

.guiding-item ul li {
    text-align: center;
}

.contact-section {
    padding: 50px 0 100px;
    background: #f5e5bd;
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;

}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: 1.12rem;

}

.contact-section .contact-form {
    max-width: 50%;
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #666;
}

.contact-section .contact-form .form-input:focus {
    border-color: orange;
}

.contact-section .contact-form textarea {
    height: 100px;
    padding: 12px;
    resize: vertical;

}

.contact-section .contact-form .submit-button {
    padding: 10px 26px;
    margin-top: 10px;
    color: #252525;
    font-size: 1.12rem;
    font-weight: 500;
    background: rgb(230, 183, 98);
    border-radius: 30px;
    border: 1px solid rgb(230, 183, 98);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
    color: rgb(230, 183, 98);
    background: transparent;
}



/* ---------------Footer section----------0 */
.footer-section {
    padding: 20px 0;
    background: #272727;
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;

}

.footer-section .social-link-list .social-link {
    font-size: 1.5rem;
}

.footer-section .social-link-list .social-link:hover {
    color: rgb(230, 183, 98);
    transform: rotateY(45);

}

.footer-section :where(.copyright-text, .social-link) {
    color: #fff;
    transition: 0.2s ease;
}

/* Responsiveness for max width 900px  */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        background: rgb(235, 230, 222);
        left: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;

    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: 1.5rem;
    }


    .hero-section .hero-details :is(.description),
    .home-section .home-details,
    .contact-section .contact-form {
        max-width: 100%;
    }

    .hero-section .hero-image-wrapper {
        max-width: 400px;
    }

    .home-section .home-content {
        gap: 70px;
        flex-direction: column;
        text-align: center;
    }

    .home-section .home-image-wrapper .home-image {
        width: 100%;
        height: 100%;
        max-width: 400px;

    }

    .home-section .home-details .button {
        display: block;
        margin: 1rem auto;
        width: fit-content;
    }

    .program-section .program-list {
        flex-direction: column;
        justify-items: center;
    }

    .program-section .create_program,
    .blog-section .create_blog {
        opacity: 0;
    }

    .program-section .program-item {
        width: 100%;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content {
        flex-direction: column;
        align-items: center;
    }

    .guiding-list {
        flex-direction: column;
    }

}

@media screen and (max-width: 700px) {
    .hero-section .hero-details .title {
        font-size: 20px;
    }

    .hero-section .hero-details p {
        font-size: 10px;
    }

    .hero-section .hero-details .learn-more {
        padding: 9px 24px;
    }

}

@media screen and (max-width: 640px) {

    .hero-section .hero-details .title {
        top: 50%;
        left: 50%;
    }

    .testimonial-section .slidder-wrapper {
        margin: 0 0 30px;
    }

    .testimonial-section .swipper-slide-btn {
        display: none;
    }

    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }

}