@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #96c5e4;
}

/* -------------Custom Styling------------- */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 1.53rem;

}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background: rgb(230, 183, 98);
    border-radius: 8px;

}

/* ----------Navigation bar sytle */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.navbar .nav-logo {
    display: flex;
    align-items: center;
    gap: 1px;
    text-align: center;
    line-height: 1rem;

}

.navbar .nav-logo div {
    background-color: rgb(250, 247, 241);
    padding: 6px;
    border-radius: .5rem;
}

.navbar .nav-logo img {
    width: 28px;

}

.navbar .nav-logo .logo-text {
    background: transparent;
}



.navbar .nav-logo .title-name {
    /* color: var(--dark-color);
     */
    color: #4e4e4e;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}




.navbar .nav-logo .title-state {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #4e4e4e;
    font-family: "Dancing Script", cursive;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: 1.12rem;
    /* color: var(--white-color); */
    color: #4e4e4e;
    transition: 0.3s ease;
    border-radius: 30px;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

.navbar .nav-menu .nav-link:hover {
    background: rgb(230, 183, 98);
    color: #666;
}

/* -----------hero section ------------- */

.hero-section {
    min-height: 100vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    /* centers the image *
    /* background: var(--primary-color); */
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 400px;
    color: #666;




}

.hero-section .hero-details {
    text-align: center;
    margin: 0px auto 250px;


}

.hero-section .hero-details .title {

    font-size: 3rem;
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    margin: 20px auto 0;



}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: auto;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #4e4e4e;
    border-radius: 30px;
    background-color: rgb(230, 183, 98);
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 40px;

}

.hero-section .hero-details .button:hover {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;

}

.hero-image-wrapper:hover img {
    transform: scale(1.2, 1.2);
}

/* ---------Home section--------- */
.home-section {
    padding: 120px 0;

    background-color: rgb(255, 240, 222);
}

.home-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.home-section .home-image-wrapper .home-image {
    width: 400px;
    object-fit: cover;

}

.home-section .home-details .section-title {
    padding: 0;
}

.home-section .home-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 1.12;
    color: #4e4e4e;
}

.home-section .home-details {
    max-width: 50%;


}

.home-section .home-details .button {
    text-align: center;
}

.home-section .home-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #4e4e4e;
    border-radius: 30px;
    background-color: rgb(230, 183, 98);
    font-weight: 600;
    transition: 0.3s ease;

}

.home-section .home-details .button:hover {
    color: #4e4e4e;
    border-color: greenyellow;
    background: transparent;
}

/* Registration and login Page */

.register-section,
.login-section,
.create-program-section {
    padding: 120px 0;
    background: oldlace;

    /* margin-top: 70px; */
}

.form-box {
    position: relative;
    align-items: center;
    /* justify-content: center; */
    /* display: flex; */
    width: 512px;
    height: 420px;
    /* overflow: hidden; */
    z-index: 2;
    margin: auto;

}

.top span {
    color: green;
    margin-left: 5px;
    padding: 10px 0;
}

.top span a {
    font-weight: 500;
    color: #666;
    margin-left: 5px;
}

.title-rl {
    color: #494949;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.inputs {
    font-size: 15px;
    background: rgba(59, 59, 59, 0.2);
    color: #494949;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    margin-bottom: 30px;
}

.txt {
    height: 150px;
}

.inputs:hover,
.inputs:focus {
    background: rgba(10, 10, 10, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #212121;

}

.Rbtn {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgba(214, 188, 102, 0.2);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.Rbtn:hover {
    background: rgba(122, 122, 122, 0.2);
    box-shadow: 1px 5px 7px 1px rgba(122, 122, 122, 0.2);
}

.custom-file {
    display: flex;
    margin-bottom: 20px;
}

.custom-file-label {
    width: 50%;
    color: #3d3d3d;
}

/* ------------------Program Section ------------------- */

.program-section {
    padding: 120px 0;
    background-color: rgb(255, 240, 222);
    color: #4e4e4e;
}

.program-section .program-list {
    padding-left: 35px;
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.program-section .program-list .program-item {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    cursor: pointer;
}

.program-section .program-list .program-item .program-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: rgb(226, 225, 225);
    opacity: 0;
    font-size: var(1.2rem);
}

.program-section .program-list .program-item .program-image {
    max-width: 90%;
    width: 100%;
    transition: filter 0.3s ease;
    object-fit: contain;
}

.program-section .program-list .program-item:hover .program-image {
    filter: blur(4px) brightness(0.7);
}

.program-section .program-list .program-item:hover .program-title {
    opacity: 1;
}

/* -------------------Testimonials Section ------------- */
.testimonial-section {
    padding: 50px 0 100px;
    background: #f5e5bd;
}

.testimonial-section .slide-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonial-section .testimonial {
    display: flex;
    flex-direction: column;
    padding: 35px;
    align-items: center;
    text-align: center;
}

.testimonial-section .testimonial img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}

.testimonial-section .testimonial .name {
    margin-bottom: 16px;
    font-size: 1.12rem;
}

.testimonial-section .testimonial .feedback {
    line-height: 25px;
}

.testimonial-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: rgb(230, 183, 98);
}

.testimonial-section .swipper-slide-btn {
    color: rgb(230, 183, 98);
    margin-top: -50px;
    transition: 0.3s ease;
}

.testimonial-section .swipper-slide-btn:hover {
    color: oldlace;
}

/* -----------Gallery Section------------ */
.gallery-section {
    padding: 50px 0 100px;
    background: rgb(252, 246, 237);
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    width: calc(100% / 3 - 32px);
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
}

/* Responsiveness for max width 900px  */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: #4e4e4e;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        background: rgb(235, 230, 222);
        left: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;

    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: 1.5rem;
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 30px 20px 20px;
    }

    .hero-section .hero-details :is(.description),
    .home-section .home-details {
        max-width: 100%;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
    }

    .home-section .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .home-section .home-image-wrapper .home-image {
        width: 100%;
        height: 100%;
        max-width: 250px;

    }

    .home-section .home-details .button {
        display: block;
        margin: 1rem auto;
        width: fit-content;
    }

    .program-section .program-list {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }

}

@media screen and (max-width: 640px) {

    .hero-section .hero-details .title {
        top: 50%;
        left: 50%;
    }

    .testimonial-section .slidder-wrapper {
        margin: 0 0 30px;
    }

    .testimonial-section .swipper-slide-btn {
        display: none;
    }

    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

}