/* Custom Proparties */
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

:root {
    --white: hsla(0, 0%, 100%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);
    --body-font: "Montserrat", sans-serif;
    --second-font: "Aclonica", sans-serif;


    --title-color: hsl(22, 100%, 8%);
    --body-color: hsl(34, 100%, 92%);
    --text-color-light: hsl(23, 16%, 40%);
    --first-color: hsl(45, 99%, 55%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



body {
    background-color: #96c5e4;

}

/* Main classes */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

/* Navigation section */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #96c5e4;
    z-index: 100;
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    color: var(--title-color);
    text-align: center;

}

/* .nav__logo br {
    display: none;
} */

/* .nav__logo::first-letter {
    font-size: 26px;
    text-transform: uppercase;
}

.nav__logo {
    font-size: 16px;
} */

.nav__logo img {
    width: 25px;
}

.nav__logo div {
    background-color: oldlace;
    padding: 6px;
    border-radius: .5rem;
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}


/* Navigation for mobile Devices */

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4.5rem 3.5rem;
        box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
        transition: top .4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
}

.nav__link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width 3.s;
}

.nav__link:hover::after {
    width: 60%;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}


/* -----------------------Home-------------------------- */

.home__container {
    padding-block: 3rem 2rem;
    justify-content: center;
    row-gap: 3.5rem;
}

.home__data {
    position: relative;
    text-align: center;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
}

.learn__more {
    display: inline-flex;
    background-color: aquamarine;
    color: var(--title-color);
    padding: 1rem 1.5rem;
    font-family: var(--second-font);
    border-radius: 4rem;

}

.learn__more:hover {
    box-shadow: 0 8px 24px hsla(22, 100%, 8%, .2);
}