{% extends 'admin/layout.html' %}

{% block content %}

<section class="register">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-box">
            <div class="top">
                <header>Register</header>
            </div>

            <div class="input-box">
                {{ form.username(class='inputs', placeholder='Username') }}
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                {{ form.password(class='inputs', placeholder='Password') }}
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                {{ form.confirm_password(class='inputs',placeholder="Confirm Password") }}
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                {{ form.submit(class='Rbtn') }}
            </div>
        </div>
    </form>


</section>
{% endblock %}