{% extends "client/base.html" %}

{% block content %}
<section class="aboutUs" style="margin-top: 70px;">

    <h1>About Us</h1>
    <div class="aboutUsVideo">
        <video width="720" height="480" controls autoplay poster="{{ url_for('static', filename='images/thumb.png')}}">
            <source src="{{  url_for('static', filename='video/newIntro.mp4') }}" type="video/mp4">
        </video>
        <p><small class="Inua">Inua Collective Society</small> is a non-profit organization with
            operations in the BC Lower mainland. INUA is a Swahili word which
            translates to elevate or uplift. INUA Collective society strives to
            elevate and up-skill the welfare of BIPOC and other racialized
            communities in BC lower mainland. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis saepe ipsa rerum voluptas non sequi exercitationem veniam harum nisi, voluptate voluptatibus fuga ipsam, facilis id doloribus eaque fugit! Doloremque, veritatis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam incidunt natus nam dolorum consectetur, ea provident aperiam voluptatibus! Voluptatum cupiditate vitae quam illum neque quisquam facere eos sunt quasi eligendi.
        </p>
    </div>
</section>
<section class="ourTeam">
    <h1>Our Team</h1>
</section>
{% endblock %}