{% extends "client/main.html" %}

{% block content %}
<section id="hero" class="section-p1">
    <h1>Inua Collective Society</h1>
    <p>is a non-profit organization with operations in the BC Lower mainland. INUA is a Swahili word which translates to
        elevate or uplift. INUA Collective society strives to elevate and up-skill the welfare of BIPOC and other
        racialized communities in BC lower mainland.</p>

    <a href="">Learn More</a>
</section>
<section class="section-p1" id="program">
    <h4>Our Programs</h4>
    <div class="main-program">

        <div class="program-img">

            <img class="prog2" src="{{ url_for('static', filename='images/1.jpg')}}" />
        </div>
        <div class="program-text">

            <h2>Youth mentership and School Tours</h2>
            <p>The Youth Mentorship Program is a great way for young people to
                get involved in the community and learn from more experienced
                people. It can help them develop skills and relationships that will
                be valuable in their lives. By working together, young people can
                create an impact and have a positive impact on the world.
                Developing and sharing ideas with other youth members of the
                community can help them to learn and grow</p>
            <a href="" class="program-btn">More Programs</a>
        </div>
    </div>
</section>

<section class="h" {% endblock %}