<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- web icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.jpg') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Css link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        referrerpolicy="no-referrer" />
</head>

<body>
    <section id="header" class="logo-dg">

        <a class="title" href="">
            <p class="logo"><small class="first-letter">i</small><strong>nua</strong><span><br />collective
                    society</span> </p>
        </a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="{{ url_for('client.home')}}">Home</a></li>
                <li><a href="{{ url_for('client.about_us')}}">About</a></li>
                <li><a href="">Programs</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Event</a></li>
                <li><a href="">Gallery</a></li>
                <a href="" id="close"><i class="fas fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    {% block content %}
    {% endblock %}
    <footer class="section-p1 logo-dg">
        <div class="col">

            <a class="title" href="">
                <p class="logo"><small class="first-letter">i</small><strong>nua</strong><span><br />collective
                        society</span> </p>
            </a>
            <h4>Contact Us</h4>
            <p><strong>Address: </strong> 9343-149 Street Surrey, BC</p>
            <p><strong>Phone: </strong>236-558-8300 / 604-616-5717</p>
            <p><strong>Email: </strong>inuacollective@gmail.com</p>
            <div class="follow">
                <h4>Follow US</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Quick Links</h4>
            <a href="">About Us</a>
            <a href="">Programs</a>
            <a href="">Gallery</a>
            <a href="">Event</a>
        </div>
        <div class="col">
            <h4>Quick Links</h4>
            <a href="">About Us</a>
            <a href="">Programs</a>
            <a href="">Gallery</a>
            <a href="">Event</a>
        </div>
        <div class="col">
            <h4>News Letter <div class="underline"><span></span></div>
            </h4>
            <form action="">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" placeholder="Enter your Email" required />
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>





        <div class="copyright">
            <p>@ 2024, Inua collective society</p>
        </div>

    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>