{% extends 'base.html' %}

{% block content %}

<main>
    <section class="contact-section">
        <h2 class="section-title">Contact Us</h2>
        <div class="section-content">
            <ul class="contact-info-list">
                <li class="contact-info">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    <p>Address: 9343 -149
                        St. Surrey BC</p>
                </li>
                <li class="contact-info">
                    <i class="fa-solid fa-phone"></i>
                    <p>(236) 558-8300</p>
                </li>
                <li class="contact-info">
                    <i class="fa-regular fa-envelope"></i>
                    <p> inuacollective@gmail.com</p>
                </li>
            </ul>
            <form action="#" class="contact-form">
                <input type="text" placeholder="Your Name" class="form-input" required>
                <input type="email" placeholder="Your Email" class="form-input" required>
                <textarea name="" id="" placeholder="Your Message" class="form-input" required></textarea>
                <button class="submit-button"> Submit</button>


            </form>

        </div>


    </section>
</main>

{% endblock %}