{% extends 'base.html' %}

{% block content %}

<main class="about">
    <section class="header-top">

    </section>
    <section class="video-section">
        <h2 class="section-title">Who We Are</h2>
        <div class="section-content">
            <div class="video-card">
                <video src="{{  url_for('static', filename='video/newIntro.mp4')}}" controls autoplay></video>
            </div>
        </div>
    </section>
    <section class="mission-section">
        <h2 class="section-title">Our Guiding</h2>
        <div class="section-content">
            <div class="guiding-list">
                <div class="guiding-item">
                    <h3>Mission</h3>
                    <p>INUA Collective Society brings together cultural competency,
                        indigenous knowledge, and authentic insights to elevate lives
                        of BIPOC communities and secure thriving futures.</p>
                </div>
                <div class="guiding-item">
                    <h3>Vision</h3>
                    <p>More just, resilient and thriving BIPOC communities.</p>
                </div>
                <div class="guiding-item">
                    <h3>Mission</h3>
                    <ul>
                        <li>innovation</li>
                        <li>integrity</li>
                        <li>Dignity</li>
                        <li>partenership & collaborations</li>
                        <li>inclusiveness</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section class="contact-section">
        <h2 class="section-title">Contact Us</h2>
        <div class="section-content">
            <ul class="contact-info-list">
                <li class="contact-info">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    <p>Address: 9343 -149
                        St. Surrey BC</p>
                </li>
                <li class="contact-info">
                    <i class="fa-solid fa-phone"></i>
                    <p>(236) 558-8300</p>
                </li>
                <li class="contact-info">
                    <i class="fa-regular fa-envelope"></i>
                    <p> inuacollective@gmail.com</p>
                </li>
            </ul>
            <form action="#" class="contact-form">
                <input type="text" placeholder="Your Name" class="form-input" required>
                <input type="email" placeholder="Your Email" class="form-input" required>
                <textarea name="" id="" placeholder="Your Message" class="form-input" required></textarea>
                <button class="submit-button"> Submit</button>


            </form>

        </div>


    </section>

</main>

{% endblock %}