<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
    <title>Inua collective soceity {{title}}</title>
    {% else %}
    <title>Inua collective soceity</title>
    {% endif %}
</head>

<body>
    <header>
        <div class="title">
            <h1><span><span class="firstLetter">I</span>nua Collective</span><br>Society</h1>
        </div>
        <ul class="navlist">
            <li><a href="" class="active">Home</a></li>
            <li><a href="">Programs</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Gallery</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>

    </header>
    {% block content %}
    {% endblock %}

</body>

</html>