{% extends 'base.html' %}

{% block content %}
<section class="header-top">

</section>
<section class="blog-detail">
    <div class="blog-header blog-container">

        <h2 class="blog-title">{{ blog.title }}</h2>
        <img class="blog-img" src="{{ url_for('static', filename=blog.image_file)}}" alt="">
    </div>

</section>
<section class="blog-content blog-container">
    <p class="blog-text">{{ blog.content }}</p>
</section>

{% if current_user.is_authenticated %}
<div class="detail-buttons blog-container">

    <form class="closeBtn" action="{{ url_for('users.delete_blog', blog_id=blog.id)}}" method="POST">
        <button type="submit" class="close"> Delete</button>
    </form>
</div>
{% endif %}

{% endblock %}