{% extends "base.html" %}

{% block content %}
<section class="header-top">

</section>
<section class="blog-section">
    <h2 class="section-title">Our Blogs</h2>
    {% if current_user.is_authenticated %}
    <div class="create_blog">
        <a href="{{ url_for('users.create_blog')}}">create Blog</a>
        <i class="fa-solid fa-plus"></i>
    </div>

    {% endif %}
    <div class="section-content">
        <div class="blog-list">
            {% for blog in blogs %}
            <div class="blog-item">

                <img src="{{ url_for('static', filename=blog.image_file)}}" alt="blog-image">
                <div class="blog-text">
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content }}</p>
                    <a href="{{ url_for('users.blog_detail', blog_id=blog.id)}}">Read More</a>

                </div>




            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}