{% extends 'base.html' %}

{% block content %}
<main>
    <section class="header-top">

    </section>
    <section class="gallery-section">

        <h2 class="section-title">Gallery</h2> {% if current_user.is_authenticated %}
        <div class="create-gallery">
            <a href="{{ url_for('users.create_gallery')}}">create gallery</a>
            <i class="fa-solid fa-plus"></i>
        </div>

        {% endif %}
        <div class="section-content">
            <ul class="gallery-list">
                {% for gallery in gallerys %}
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename=gallery.image_file)}}" alt="Gallery">
                    {% if current_user.is_authenticated %}
                    <form class="closeBtn" action="{{ url_for('users.delete_gallery', gallery_id=gallery.id)}}"
                        method="POST">
                        <button type="submit" class="fa-solid fa-trash"></button>
                    </form>
                    {% endif %}

                </li>
                {% endfor %}

            </ul>

        </div>
    </section>

</main>

{% endblock %}