{% extends 'base.html' %}

{% block content %}

    
    <section id="causes" class="pt-32 pb-20 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-16" data-aos="fade-up">
                <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Gallery</h2>
                <div class="w-20 h-1 bg-blue-600 mx-auto"></div>
                <!-- <p class="text-gray-600 max-w-2xl mx-auto mt-4">We focus on these key areas to create maximum impact in the communities we serve.</p> -->
            </div>
            {% if current_user.is_authenticated %}
                <div class="absolute rounded-xl bg-blue-200 pb-3 pt-3 pl-2 pr-2 right-[2%] top-[10%] hover:bg-[oldlace] mt-16" data-aos="fade-up" data-aos-delay="100">
                    <a href="{{ url_for('users.create_gallery')}}">create gallery</a>
                    <i class="fa-solid fa-plus"></i>
                </div>

            {% endif %}
            <div class="grid md:grid-cols-3 gap-8">
               
                {% for gallery in gallerys %}
                <div class="bg-gray-50 rounded-xl shadow-md hover:shadow-xl transition duration-300" data-aos="fade-up" data-aos-delay="100">
                    <img class="w-full rounded-xl" src="{{ url_for('static', filename=gallery.image_file)}}" alt="Gallery">
                    {% if current_user.is_authenticated %}
                    <form class="absolute top-[2%] right-[2%] rounded-full" action="{{ url_for('users.delete_gallery', gallery_id=gallery.id)}}"
                        method="POST">
                        <button type="submit" class="fa-solid fa-trash text-[1.5rem] text-red-600"></button>
                    </form>
                    {% endif %}

                </div>
                {% endfor %}

                
            </div>
        </div>
    </section>
    



{% endblock %}