{% extends 'base.html' %}

{% block content %}
<main>
    <section class="gallery-section">
        <h2 class="section-title">Gallery</h2>
        <div class="section-content">
            <ul class="gallery-list">
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/basket2.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/basket3.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/comm dialogue.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/artist.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/basket.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/tourrr.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/carrer.jpg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/empoerment.jpeg')}}"
                        alt="Gallery">
                </li>
                <li class="gallery-item">
                    <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/swimmingf.jpg')}}"
                        alt="Gallery">
                </li>
            </ul>

        </div>
    </section>

</main>

{% endblock %}