<main>
    <section class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <h2 class="title">
                    Inua Collective Society
                </h2>
                <p class="description">
                    is a non-profit organization with operations in the BC Lower mainland. INUA is a Swahili word which
                    translates to
                    elevate or uplift.
                </p>
                <a href="#" class="button learn-more">Learn More</a>
            </div>
            <div class="hero-image-wrapper">
                <img src="{{ url_for('static', filename='images/hero.jpg')}}" </div>
            </div>
    </section>

    <section class="home-section">
        <div class="section-content">
            <div class="home-image-wrapper">
                <img class="home-image" src="{{ url_for('static', filename='images/1.jpg')}}">
            </div>

            <div class="home-details">
                <h2 class="section-title">Youth mentership and School
                    Tours</h2>
                <p class="text">
                    The Youth Mentorship Program is a great way for young people to
                    get involved in the community and learn from more experienced
                    people. It can help them develop skills and relationships that will
                    be valuable in their lives....
                </p>

                <a class="button Programs" href="">Programs</a>


            </div>

        </div>

    </section>
</main>