{% extends 'base.html' %}

{% block content %}

    <section id="home" class="hero-bg text-white pt-32 pb-20" id="vanta-globe">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between items-center gap-2">
                <div class="md:w-1/2" data-aos="fade-right">
                    <h1 class="text-2xl md:text-5xl font-bold leading-tight mb-6">INUA COLLECTIVE SOCIETY</h1>
                    <p class="text-sm mb-8">Join us in our mission to empower communities and create sustainable change through education, healthcare, and economic development.</p>
                    <div class="flex space-x-4 items-center">
                        
                        <a class="border-2 border-white text-white px-8 py-3 rounded-full font-bold hover:bg-white hover:text-blue-600 transition">
                            Learn More
                        </a>
                    </div>
                </div>
                <div class="md:block md:w-1/2" data-aos="fade-left ">
                     <img src="{{ url_for('static', filename='images/hero.jpg')}}" class="rounded-lg shadow-2xl">
                </div>
            </div>
        </div>
    </section>

    <section id="home"  class="text-white pt-32 pb-20 bg-gray-100" id="vanta-globe">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
             <div class="text-center mb-16" data-aos="fade-up">
                <h2 class="text-3xl font-bold text-gray-800 mb-4">What We Do</h2>
                <div class="w-20 h-1 bg-blue-600 mx-auto"></div>
            </div>
            <div class="md:flex md:items-center md:justify-between gap-8">
                <div class="md:block md:w-1/2 items-center" data-aos="fade-left">
                     <img src="{{ url_for('static', filename=program.image_file)}}" class="rounded-lg shadow-2xl ml-2">
                </div>
                <div class="md:w-1/2" data-aos="fade-right">
                    <h1 class="text-gray-800 text-2xl md:text-2xl font-bold leading-tight mb-6">  {{ program.title }}</h1>
                    <p class="text-lg text-gray-800 mb-8">{{ program.content|truncatewords(40)}}</p>
                    <div class="flex space-x-4">
                        
                        <a class="border-2 border-cyan-500 text-gray-800 px-8 py-3 rounded-full font-bold hover:bg-white hover:text-blue-600 transition">
                            More Programs
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
   

    <!-- Testimonial -->
    <section id="causes" class="py-20 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-16" data-aos="fade-up">
                <h2 class="text-3xl font-bold text-gray-800 mb-4">Voices of Impact</h2>
                <div class="w-20 h-1 bg-blue-600 mx-auto"></div> 
            </div>

            <div class="absolute rounded-xl bg-blue-200 pb-3 pt-3 pl-2 pr-2 right-[2%]" data-aos="fade-left">
                <a href="{{ url_for('users.create_testimonial')}}">create Testimonial</a>
                <ion-icon name="add" class=""></ion-icon>
            </div>
            <div class="slide-container swiper">
                <div class="slider-wrapper">
                    <ul class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="testimonial swiper-slide">
                            <img class="user-image" src="{{ url_for('static', filename=testimonial.profile_pic)}}"
                                alt="">
                            <h3 class="name">{{ testimonial.name }}</h3>
                            <p class="feedback">{{ testimonial.content }}</p>
                            {% if current_user.is_authenticated %}
                            <form class="closeBtn"
                                action="{{ url_for('users.delete_testimony', testimony_id=testimonial.id)}}"
                                method="POST">
                                <button type="submit" class="fa-solid fa-trash"></button>
                            </form>
                            {% endif %}

                        </div>
                        {% endfor %}

                    </ul>
                    <div class="swiper-pagination"></div>
                    <div class="swipper-slide-btn swiper-button-prev"></div>
                    <div class="swipper-slide-btn swiper-button-next"></div>
                </div>

            </div>
            


        </div>
    </section>
    <section class="testimonial-section">
        <h2 class="section-title">Testimonials</h2>
        {% if current_user.is_authenticated %}
        <div class="create_testimonial">
            <a href="{{ url_for('users.create_testimonial')}}">create Testimonial</a>
            <i class="fa-solid fa-plus"></i>
        </div>

        {% endif %}
        <div class="section-content">
            <div class="slide-container swiper">
                <div class="slider-wrapper">
                    <ul class="testominial-list swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="testimonial swiper-slide">
                            <img class="user-image" src="{{ url_for('static', filename=testimonial.profile_pic)}}"
                                alt="">
                            <h3 class="name">{{ testimonial.name }}</h3>
                            <p class="feedback">{{ testimonial.content }}</p>
                            {% if current_user.is_authenticated %}
                            <form class="closeBtn"
                                action="{{ url_for('users.delete_testimony', testimony_id=testimonial.id)}}"
                                method="POST">
                                <button type="submit" class="fa-solid fa-trash"></button>
                            </form>
                            {% endif %}

                        </div>
                        {% endfor %}

                    </ul>
                    <div class="swiper-pagination"></div>
                    <div class="swipper-slide-btn swiper-button-prev"></div>
                    <div class="swipper-slide-btn swiper-button-next"></div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}