{% extends 'base.html' %}

{% block content %}
<main>
    <section class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <h2 class="title">
                    Inua Collective Society
                </h2>
                <p>INUA COLLECTIVE SOCIETY
                    INUA Collective Society is a non-profit organization with
                    operations in the BC Lower mainland. </p>

                <a href="{{ url_for('users.about')}}" class="buthon learn-more">Learn More</a>
            </div>
            <!-- <div class="hero-image-wrapper">
                <img src="{{ url_for('static', filename='images/hero.jpg')}}" </div>
            </div> -->
    </section>


    <section class="home-section">
        <h2 class="section-title">What we do</h2>
        <div class="section-content">
            <div class="home-content">
                <div class="home-image-wrapper">
                    <img class="home-image" src="{{ url_for('static', filename=program.image_file)}}">
                </div>
                <div class="home-details">
                    <h2 class="home-title">
                        {{ program.title }}
                    </h2>
                    <p class="text">
                        {{ program.content|truncatewords(40)}}
                    </p>

                    <a class="button programs" href="{{ url_for('users.program')}}">More Programs</a>
                </div>


            </div>
        </div>
    </section>

    <section class="testimonial-section">
        <h2 class="section-title">Testimonials</h2>
        <div class="section-content">
            <div class="slide-container swiper">
                <div class="slider-wrapper">
                    <ul class="testominial-list swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="testimonial swiper-slide">
                            <img class="user-image" src="{{ url_for('static', filename=testimonial.profile_pic)}}"
                                alt="">
                            <h3 class="name">{{ testimonial.name }}</h3>
                            <p class="feedback">{{ testimonial.content }}</p>

                        </div>
                        {% endfor %}
                    </ul>
                    <div class="swiper-pagination"></div>
                    <div class="swipper-slide-btn swiper-button-prev"></div>
                    <div class="swipper-slide-btn swiper-button-next"></div>
                </div>

            </div>
        </div>
    </section>
</main>

{% endblock %}