{% extends 'base.html' %}

{% block content %}

  <section id="home"  class="text-white pt-32 pb-20 bg-gray-100" id="vanta-globe">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
             <div class="text-center mb-16" data-aos="fade-up">
                <h2 class="text-3xl font-bold text-gray-800 mb-4">{{ program.title }}</h2>
                <div class="w-80 h-1 bg-blue-600 mx-auto"></div>
            </div>
            {% if current_user.is_authenticated %}
                <div class="absolute rounded-xl bg-blue-600 pb-3 pt-3 pl-6 pr-6 right-[2%]" data-aos="fade-left">
                    <a href="{{ url_for('users.create_subprogram' , program_id=program.id)}}">create sub program</a>
                    <ion-icon name="add" class=""></ion-icon>
                </div>
            {% endif %}
            <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-y-6 md:gap-x-6 mt-[150px]">
                 {% for prog in program.subprograms %}
                <div class="max-w-[420px] relative rounded-[10px] overflow-hidden group">
                    <div class="relative overflow-hidden" data-aos="fade-left">
                        <img src="{{ url_for('static', filename=prog.image_file)}}" class="hover:scale-110 transition-all duration=500">

                        <div class="bg-blue-100 absolute bottom-0 left-0 text-gray-800 text-base tracking-[2.24px]
                        uppercase py-[6px] px-[18px]">{{ prog.title }}</div>
                    </div>
                    <div class="px-5 py-6" data-aos="fade-right">
    
                        <p class="font-light text-gray-700 line-clamp-3">{{ prog.content }}
                          
                        
                        </p>
                        <a href="{{ url_for('users.sub_program_detail', sub_program_id=prog.id)}}" class="italic underline text-lg text-[#4c5354] hover:bg-white hover:text-blue-600 transition">
                                Read More
                        </a>
                       
                        
                    </div>
                    {% if current_user.is_authenticated %}
                        <form class="absolute top-[1%] right-[1%]" action="{{ url_for('users.delete_subprogram', sub_program_id=prog.id)}}" method="POST"> 
                            <button type="submit" class="fa-solid fa-trash text-[1.5rem] text-red-600"></button> 
                        </form> 
                    {% endif %} 
                </div>
               
                {% endfor %}
             
            </div>
        </div>
    </section>
   


{% endblock %}