{% extends 'base.html' %}

{% block content %}

<section class="program-section">
    <h2 class="section-title">Programs</h2>
    <div class="section-content">
        <div class="program-list">
            {% for program in programs%}
            <div class="program-item">
                <img class="program-image" src="{{ url_for('static', filename=program.image_file)}}" alt="">

                <a class="program-content">
                    <h3 class="program-title">{{ program.title }}</h3>
                    <p class="program-content">{{ program.content }}</p>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</section>


{% endblock %}